*{
	font-family: Verdana;
	font-size:  13px;
	text-decoration: none;
}

body {
	margin: 0px;
	color: #000000;
	font-size: 12px;
	background: url(../../web/img/bglogin.jpg) repeat-x top left white fixed;
}

#titulo{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 60px;	
	color: #0066cc;
}

#nome{
	margin-top: 20px;
	font-size: 20px;	
	color: #000;
	float: right;
}

#voltar{
	margin-top: 20px;
	float: left;
}

#wrap{
	width: 900px;
	margin: auto;
}

.linha_certificado{
	clear: both;
}

.nome_categoria{
	width: 150px;
	font-weight: bold;
	float: left;	
	text-align: right;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.texto_categoria{
	padding-top: 5px;
	padding-bottom: 5px;
}

.certificado{
	background: #FFF;
	border: 3px solid #c5dbfe;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.error {
	border: 1px solid;
	padding: 15px 10px 15px 50px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
	margin-left: auto;
	margin-right: auto;
}

.border_bottom{
	border-bottom: 1px solid #CCC;
}

.botao_link {
	border: 1px solid #c5dbec;
	background: #dfeffc;
	font-weight: bold;
	font-size: 12px;
	color: #2e6e9e;
	outline: none;
	vertical-align: top;
	border-radius: 1em;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 22px;
	line-height: 22px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}